<div class="login-container">
    <mat-card class="login-card">
        <mat-card-header>
            <mat-card-title>Ingresar al Sistema</mat-card-title>
            <mat-card-subtitle>Ingrese sus credenciales</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div [formGroup]="loginForm">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Corre Electronico</mat-label>
                    <input matInput type="email" formControlName="email" placeholder="admin@mail.com">
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Contrtaseña</mat-label>
                    <input matInput type="password" formControlName="password" placeholder="password">
                    <mat-icon matSuffix>lock</mat-icon>
                </mat-form-field>

                <button mat-raised-button color="primary" class="full-width" (click)="funIngresarConLaravel()" [disabled]="!loginForm.valid || loading()">
                    
                    @if (loading()) {
                        Procesando...
                    }
                    @else {
                        INGRESAR AL SISTEMA
                    }
                    
                </button>



            </div>
        </mat-card-content>

    </mat-card>
</div>
<!--
<h1>INGRESAR AL SISTEMA</h1>

<div [formGroup]="loginForm">
    <label for="">Ingrese Correo:</label>
    <input type="email" formControlName="email">
    <br>
    <label for="">Ingrese Contraseña</label>
    <input type="password" formControlName="password">
    <br>
    
        <button matFab extended (click)="funIngresarConLaravel()" [disabled]="!loginForm.valid || loading()">INGRESAR AL SISTEMA</button>


    @if (loading()) {
        <h1>Procesando...</h1>
    }
</div>
<hr>

<hr>
{{ loginForm.value | json }}
<hr>
VALIDO: {{ loginForm.valid }}
-->